
<nav >
    <div  class="nav-wrapper" >
        <a data-target="mobile-demo" class="sidenav-trigger">
         <i class="material-icons">menu</i>
        </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="tab"><a class='dropdown-trigger ' href="#test1" data-target="dropdown1" ><i class="material-icons right">menu</i>Bañadores</a></li>
          <li class="tab"><a class='dropdown-trigger  ' href="#test2" data-target="dropdown2" ><i class="material-icons right">menu</i>Bolsos</a></li>
          <li class="tab" ><a   class='dropdown-trigger ' href="#test3" data-target="dropdown3"><i class="material-icons right">menu</i>Gafas de Natación</a></li>
          <li class="tab"><a class='dropdown-trigger ' href="#test4" data-target="dropdown4" ><i class="material-icons right">menu</i>Accesorios</a></li>
        
      </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down "  >
          <li class="tab "><input class="btn" type="text" placeholder="Buscar" > </li>
          <li class=""><a><i class="material-icons ">search</i></a></li>
        </ul>
      
      
    </div>
    </nav>
    
    
    
      <!-- Dropdown Structure Gafas de natacion-->
    <ul id='dropdown3' class='dropdown-content'>
        <li><a href="#!">Gafas de competición</a></li>
        <li><a href="#!">Gafas de entrenamiento</a></li>
        <li><a href="#!">Gafas mascaras</a></li>
      </ul>
    <!-- Dropdown Structure Accesorios -->
    <ul id='dropdown4' class='dropdown-content'>
        <li><a href="#!">Gorros de natación</a></li>
        <li><a href="#!">Toallas</a></li>
        <li><a href="#!">Entrenamiento natación</a></li>
    
    
    
    
    
    
    
    