
<nav>
<div  class="nav-wrapper" >
    <a data-target="mobile-demo" class="sidenav-trigger">
     <i class="material-icons">menu</i>
    </a>
  <ul  class="left hide-on-med-and-down">
      <li class="tab"><a class='dropdown-trigger ' href="#test1" data-target="dropdown1">Bañadores</a></li>
      <li class="tab"><a class='dropdown-trigger ' href="#test2" data-target="dropdown2" >Bolsos</a></li>
      <li class="tab" ><a   class='dropdown-trigger' href="#test3" data-target="dropdown3">Gafas de Natación</a></li>
      <li class="tab"><a class='dropdown-trigger' href="#test4" data-target="dropdown4">Accesorios</a></li>

  </ul>
</div>
</nav>


<ul isoSidenav class="sidenav" id="mobile-demo">
    <li class="tab"><a class='dropdown-trigger btn' href="#test1" data-target="dropdown1">Bañadores</a></li>
    <li class="tab"><a class='dropdown-trigger btn' href="#test2" data-target="dropdown2" >Bolsos</a></li>
    <li class="tab" ><a   class='dropdown-trigger btn' href="#test3" data-target="dropdown3">Gafas de Natación</a></li>
    <li class="tab"><a class='dropdown-trigger btn' href="#test4" data-target="dropdown4">Accesorios</a></li>
    
    
</ul>


  <!-- Dropdown Trigger -->
  <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Menu</a>    -->


  <!-- Dropdown Structure Bañadores-->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Bañadores hombre</a></li>
    <li><a href="#!">Bañadores mujer</a></li>
    <!-- <li class="divider" tabindex="-1"></li> -->
    <li><a href="#!">Bañadores de niño</a></li>
    <li><a href="#!">Bañadores para adultos</a></li>

  </ul>
  <!-- Dropdown Structure Bolsos -->
  <ul id='dropdown2' class='dropdown-content'>
      <li><a href="#!">Bolsas deportivas</a></li>
      <li><a href="#!">Bolsas de malla</a></li>
      <!-- <li class="divider" tabindex="-1"></li> -->
      <li><a href="#!">Mochilas</a></li>
      
  </ul>

    <!-- Dropdown Structure Gafas de natacion-->
  <ul id='dropdown3' class='dropdown-content'>
      <li><a href="#!">Gafas de competición</a></li>
      <li><a href="#!">Gafas de entrenamiento</a></li>
      <!-- <li class="divider" tabindex="-1"></li> -->
      <li><a href="#!">Gafas mascaras</a></li>
    </ul>
  <!-- Dropdown Structure Accesorios -->
  <ul id='dropdown4' class='dropdown-content'>
      <li><a href="#!">Gorros de natación</a></li>
      <li><a href="#!">Toallas</a></li>
      <!-- <li class="divider" tabindex="-1"></li> -->
      <li><a href="#!">Entramiento natación</a></li>
    </ul>