<table>
     <thead class='highlight'>
      <tr>
          <th>Producto</th>
          <th>Genero</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Edad</th>
          <th>Talla</th>
          <th> Nombre</th>
          <th>Descripcion</th>
      </tr>
    </thead>
    <tbody> 
       <td>Gafas</td> 
       <td>N/A</td>
       <td>18</td>
       <td>14.99</td>
       <td>Ninos</td>
       <td>N/A</td>
       <td>GafasArena</td>
       <td>Gafasnegras</td><tr></tr>
       <td>Gafas</td>
       <td>N/A</td>
       <td>20</td>
       <td>29.99</td>
       <td>Jovenes-Adultos</td>
       <td>N/A</td>
       <td>GafasGeno</td>
       <td>Gafas antiniebla para todo tipo de agua </td><tr></tr>
       <td>Gafas</td>
       <td>N/A</td>
       <td>40</td>
       <td>24.99</td>
       <td>Jovenes-Adultos</td>
       <td>N/A</td>
       <td>GafasArena</td>
       <td>Gafas de color azul con ligamento resistente </td>
    </tbody>
  </table>
  
  
