<div class="row">
    <div class="col s12 m3">
        <div class="card-panel lime darken-1">
            <img src="assets/images/ro1.jpg" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
            <p></p>
            <span class="white-text">Por inicios de mes estaran disponibles las siguientes mallas para mujeres.El cual
              estara a precios accesibles
          </span>
        </div>
    </div>


    <div class="container section">
        <div class="row ">
            <div class="col 1 s10">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="https://lorempixel.com/580/250/nature/1">
                            <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="../assets/images/carousel/principal.jpg">
                            <!-- random image -->
                            <div class="caption left-align">
                                <h3>Left Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="../assets/images//carousel/principal.jpg">
                            <!-- random image -->
                            <div class="caption right-align">
                                <h3>Right Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="https://lorempixel.com/580/250/nature/4">
                            <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fondo pie de pagina" style="background-repeat: no-repeat;
     background-size: cover; height: 200px; 
    background-image: url(&quot;http://localhost:4200/assets/images/carousel/principal.jpg&quot;);">

    <div class="textoseo">
        <h3 class="titulo">Acerca de los Alamos</h3>
        <p class="texto">Bienvenidos a los Alamos, tu <strong>tienda de natación online</strong>! Aquí encontraras todo lo que necesitas para nadar en las piscinas de Bolivia. La natación es un deporte divetido y relajante. Una cosa a tener en cuenta es que tipo de material
            comprar. Nuestra amplia gama de bañadores, gafas, aletas gorros, tohallas, calzado, tubos o otros accesorios estan disponibles en nuestro con una entrega de 24h. En nuestra tienda de natacion online ofecemos los precios mas competitivos de
            primeras marcas como Arena, Speedo, Head, Turbo, Aquasphere, Finjs, Cressi, Dakine, Try y mas. Los Alamos ofrece <strong>accesorios de natacion</strong> que te ayudaran a lograr un rendimiento optimo en el agua y hacer mas facil la vida fuera
            del agua. Tenemos una de las selecciones mas grandes de Bolivia del mundo de trajes de natacion aprobados por FINA prefecto para tus competiciones de triatlon. Nuestro equipo digital produce imagenes de productos de alta calidad, imagenes
            360 grados para proporcionar la mayor informacion posible. Echa un vistazo a todas las categorias de nuestra tienda de natacion online y disfruta de la llegada de novedades para el 2019.</p>
    </div>

</div>