<footer class="page-footer" style="background-color: #0288d1 ">
    <div class="container">
        <div class="row">
            <div class="col 20 s3">

                <h5 class="white-text">Categoria</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Bañadores hombre</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Bañadores mujeres</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">bañadores niños</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">bañadores adultos</a></li>
                </ul>
            </div>

            <div class="col 20 s3">
                <h5 class="white-text">Top marcas</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Arena</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Adidas</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Michael Phelps</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Speedo</a></li>
                </ul>
            </div>

            <div class="col 20 s3">
                <h5 class="white-text">Promociones</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Ofertas</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Novedades</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Anuncios</a></li>

                </ul>
            </div>


            <div class="col 20 offset-9 s3">
                <h5 class="white-text">Contacte con nosotros</h5>
                <ul>
                    <p class="grey-text text-lighten-4">Av. Blanco galindo 3 1/2 km.</p>

                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Correo alamos@gmail.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Telefono 44567782</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{currentYear}} Copyright ISO
        </div>
    </div>
</footer>