<footer class="page-footer light-blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Nuestros mejores productos</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" routerLink="/lista/banadores" target="_blank" rel="noopener noreferrer">Bañadores </a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="/lista/gorras" target="_blank" rel="noopener noreferrer">Bolsos</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="/lista/lentes" target="_blank" rel="noopener noreferrer">Gafas de Natacion</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="/lista/accesorios" target="_blank" rel="noopener noreferrer">Accesorios</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacte con nosotros</h5>
                <ul>
                    <p class="grey-text text-lighten-4"><i class="material-icons left">location_on</i>Av. Blanco galindo 3 1/2 km.</p>
                    <p class="grey-text text-lighten-4"><i class="material-icons left">call</i>Telefono-44567782 o 44574534</p>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer"><i class="material-icons left">mail</i>Correo alamos@gmail.com</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright ISO
        </div>
    </div>
</footer>