p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footerseo .textoseo {
    font-size: 15px;
    line-height: 19px;
    margin-top: 7px;
    color: #fff;
    text-align: left;
    font-weight: 300;
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #fff;
}

.texto {
    font-size: 15px;
    line-height: 19px;
    margin-top: 7px;
    color: #fff;
    text-align: left;
    font-weight: 300;
}