<div class="row">
  <div class="col s12 m3">
    <div class="card-panel lime darken-1"> 
        <img src="assets/images/ro1.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class --> 
        <p></p>
        <span class="white-text">Por inicios de mes estaran disponibles las siguientes mallas para mujeres.El cual
          estara a precios accesibles
      </span>
    </div>
  </div>
</div>

<ul isoSidenav class="sidenav" id="mobile-menu">
  <li>
      <a routerLink="/home" class="sidenav-close">PRINCIPAL</a>
    </li>
    </ul>
    