<header>
    <nav class="nav-extended" style="background-color:#01579b">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">LOS ALAMOS</a>
            <ul class="right hide-on-med-and-down">

                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/user/login">Login </a>
                </li>
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/user/register">Register</a>
                </li>

            </ul>

        </div>
        <div class="nav-content">


        </div>
        <iso-menu-principal></iso-menu-principal>
    </nav>

</header>