<header>
    <nav class="nav-extended">
        <div class="nav-wrapper">

            <ul class="right hide-on-med-and-down">

                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/user/login">Login </a>
                </li>
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/user/register">Register</a>
                </li>

            </ul>

        </div>
        <div class="nav-content">
            <a href="#!" class="nav-title">LOS ALAMOS</a>

        </div>

    </nav>

</header>